.App {
  display: grid;
  grid-template-areas:
    'itemSelect itemSelect'
    'inputAmount inputUnit'
    'outputAmount outputUnit';
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0.75rem;
  row-gap: 1rem;
}

.headerRow {
  text-align: center;
}

.foodInputBox {
  grid-area: itemSelect;
}

.inputAmountBox {
  grid-area: inputAmount;
}
.inputUnitBox {
  grid-area: inputUnit;
}

.outputAmountBox {
  grid-area: outputAmount;
  align-self: end;
}

.outputUnitBox {
  grid-area: outputUnit;
}

.mainLayout {
  flex: 1 1 auto; // Our expected parent is a flex column
  display: grid;
  grid-template-columns: 1fr min(80ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
  row-gap: 1rem;
  grid-auto-rows: min-content;
}
.mainLayout > * {
  grid-column: 2;
}
.fullBleed {
  width: 100%;
  grid-column: 1 / -1;
}
